@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #f8fafb;
  --text: #052f3c;
}

html,body,#root{height:100%}
body{
  @apply bg-white text-slate-900 antialiased;
  background: linear-gradient(180deg, #f8fdff 0%, #f2fff4 100%);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.hero-bg{
  background: radial-gradient(ellipse at top left, rgba(33,150,167,0.08), transparent 30%), radial-gradient(circle at bottom right, rgba(53,196,59,0.06), transparent 30%);
}